In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS person
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert sample data
cursor.execute("INSERT INTO person (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO person (name, age) VALUES ('Bob', 25)")

# Commit the changes
conn.commit()

# Selecting all persons
cursor.execute("SELECT * FROM person")
print("All persons:")
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

All persons:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Alice', 30)
(4, 'Bob', 25)